/*
|--------------------------------------------------------------------------
| Reset Style
|--------------------------------------------------------------------------
|
| http://meyerweb.com/eric/tools/css/reset/
| v2.0 | 20110126
| License: none (public domain)
|
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
|--------------------------------------------------------------------------
| Custom Style
|--------------------------------------------------------------------------
|
| I could have used sass, but I thought it was over-engineering.
| Style is based on personal website of people that inspire me.
|
 */

body {
  font-family: 'Open Sans', sans-serif;
  background: url('resources/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}
p {
  line-height: 28px;
}
p > a {
  color: #008bcc;
  text-decoration: none;
}
#container {
  margin: auto;
  font-size: 18px;
  width: 680px;
}
#avatar {
  width: 150px;
  height: 150px;
  margin: 60px auto;
  overflow: hidden;
  border: 3px solid #eee;
  border-radius: 50%;
}
#avatar img {
  width: 100%;
}

.subcontainer {
  background: #000;
  color: #eee;
  opacity: 0.85;
  padding: 30px 40px;
}

#links {
  margin: 32px 0 0;
}
#links a {
  display: inline-block;
  padding: 0 20px;
  color: #eee;
  text-decoration: none;
}
#links a:first-child {
  padding-left: 0;
}
#links a:last-child {
  padding-right: 0;
}
#links a:hover {
  color: #008bcc;
}

@media (max-width: 768px) {
  #container {
    margin: 0 10%;
    width: 80%;
  }
  #links {
    column-count: 2;
  }
  #links a {
    display: block;
    padding: 6px 0;
  }
}
